body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  border-left: 1px solid black;
  color: black;
  padding: 10px;
  resize: none;
}

.jumbotron {
  background-color: transparent;
  border-bottom: 10px solid black;
  border-radius: 0;
  color: black;
  text-align: center;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  text-align: center;
}

.row {
  border-top: 1px solid white;
  height: 80px;
  white-space: pre-wrap;
}

h5 {
  padding-top: 25px;
  text-align: right;
}

.hour {
  background-color: #ffffff;
  border-bottom: 1px dashed black;
  border-top: 1px dashed black;
  color: black;
  height: 80px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  background-color: #06AED5;
  border-bottom-right-radius: 15px;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  color: white;
  height: 80px;
}

i:hover {
  color: black;
  font-size: 20px;
  transition: all .3s ease-in-out;
}
